	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<a href="activities/add" class="btn btn-danger"><span class="fas fa-plus mr-2"></span>Add activity</a>
				<a href="people/add" class="btn btn-danger"><span class="fas fa-user-plus mr-2"></span>Add person</a>
				<a href="people/list" class="btn btn-danger"><span class="fas fa-list-ul mr-2"></span>List people</a>
				<a href="remind" class="btn btn-danger"><span class="fas fa-user-clock mr-2"></span>Send reminders</a>
			</div>
			<div class="col-md-4">
				<p class="text-right">
					<span class="badge badge-danger p-2 mr-1">Unpaid debt</span><span class="badge badge-warning p-2 mr-1">Partially paid</span><span class="badge badge-success p-2">Credit payment</span>
				</p>
			</div>
		</div>
	</div>