	<div class="bg-danger text-white navbar-dark">
		<div class="container">
			
			<nav class="navbar px-0 navbar-expand-lg navbar-dark">
				<a class="navbar-brand text-chicle" href=".">
					<img src="tabby.png" width="30" height="30" class="d-inline-block align-top" alt=""> &nbsp; Tabby
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a href="people" class="p-3 text-decoration-none text-white"><span class="fas fa-users mr-2"></span>People overview</a>
						<a href="activities" class="p-3 text-decoration-none text-white"><span class="fas fa-th mr-2"></span>Activities</a>
						<a href="mydebt" class="p-3 text-decoration-none text-white"><span class="fas fa-hand-holding-usd mr-2"></span>Your debt</a>
					</div>
					<div class="navbar-nav ml-auto">
						<a href="profile" class="p-3 text-decoration-none text-white"><span class="fas fa-id-badge mr-2"></span>My profile</a>
						<a href="logout" class="p-3 text-decoration-none text-white"><span class="fas fa-sign-out-alt mr-2"></span>Logout</a>
					</div>
				</div>
			</nav>

		</div>
	</div>